{% extends 'base.html' %}

{% block title %}Biz Haqimizda{% endblock %}

{% block content %}
    <h1>Biz Haqimizda</h1>
        <p>Bizning kompaniyamiz 2010 yilda tashkil etilgan bo'lib, o'tgan yillar davomida mijozlarimizga sifatli mahsulotlar va xizmatlar taqdim etib kelmoqdamiz.</p>
        <p>Bizning maqsadimiz:</p>
        <ul>
            <li>Eng sifatli mahsulotlarni taqdim etish</li>
            <li>Mijozlar ehtiyojlarini qondirish</li>
            <li>Doimiy ravishda rivojlanish va yangilanish</li>
        </ul>
        <p>Agar sizda savollar bo'lsa, biz bilan bog'lanishingiz mumkin:</p>
        <p>Telefon: +998 90 123 45 67</p>
        <p>Email: info@meningdokonim.uz</p>
{% endblock %}