{% extends 'base.html' %}

{% block title %}Maxsulotlar Ro'yxat{% endblock %}

{% block content %}
        <div class="row">
            {% for product in products %}
                <h1>Mahsulotlar Ro'yxati</h1>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <a href="{{ product.get_detail_url }}" class="btn btn-primary">Batafsil</a>
                        </div>
                    </div>
                </div>
            {% empty %}
            <h1>Mahsulotlar Ro'yxati Bo'sh</h1>
            {% endfor %}
        </div>
{% endblock %}